*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ecedf2;
}

main{
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.nav-menu{
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo img{
    width: 110px;
    height: 110px;
    margin-top: 16px;
}

.menu i{
    border-radius: 50%;
    background: #1b74e4;
    color: #ffffff;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark i{
    background: #ffffff;
    padding: 16px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    padding: 16px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark i:hover{
    background: #1b74e4;
    color: #ffffff;
    transition: .5s;
}

.right-col,
.main-col{
    margin: 40px auto;
    background: #ffffff;
    padding: 40px 16px;
    border-radius: 16px;
}

.display-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-bottom: 16px;
}

.display-img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
}

.right-col h1{
    font-size: 22px;
    text-align: center;
    /*font-family: "Playfair Display", serif;*/
    font-weight: 500;
    cursor: pointer;
    color: #1b74e4;
}

.intro{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.intro p{
    background: #f3f6f6;
    font-size: 12px;
    padding: 12px 16px;
    border-radius: 5px;
    font-weight: 500;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 12px auto;
}

.fa-x-twitter{
    background-color: #ecedf2;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
}

.fa-x-twitter:hover{
    color: #ffffff;
    background: #000000;
    transition: .5s;
}

.fa-linkedin-in{
    background-color: #ecedf2;
    padding: 10px 11px;
    border-radius: 5px;
    color: #144679;
}

.fa-linkedin-in:hover{
    color: #ffffff;
    background: #144679;
    transition: .5s;
}

.hub{
    background-color: #ecedf2;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
}

.hub:hover{
    color: #ffffff;
    background: #000000;
    transition: .5s;
}

.info-container{
    margin: 25px auto;
    padding: 20px 16px;
    border-radius: 12px;
    background: #ecedf2;
}

.info{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.phone,
.email{
    border-bottom: 1px solid #e3e3e3;
}

.info-logo .fa-mobile-screen {
    background: #ffffff;
    padding: 10px 12px;
    border-radius: 5px;
    color: #e93b81;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-logo .fa-envelope-open-text{
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    color: #78babd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-logo .fa-location-dot{
    background: #ffffff;
    padding: 10px 12px;
    border-radius: 5px;
    color: #e93b81;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-details small{
    font-size: 12px;
}

.info-details p{
    font-size: 11px;
    font-weight: 500;
}

.right-btn{
    display: flex;
    justify-content: center;
}

.right-btn a{
    text-decoration: none;
    color: #ffffff;
    background: #1b74e4;
    padding: 10px 16px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    border: 1px solid;
}

.right-btn a:hover{
    background: #ecedf2;
    color: #000000;
    border-color: #1b74e4;
    transition: .5s;
}

.main-col h1{
    font-weight: 600;
    font-size: 25px;
    position: relative;
}

.main-col h1::after{
    position: absolute;
    content: "";
    height: -6px;
    width: 65px;
    border: 1px solid #1b74e4;
    top: 50%;
    margin-left: 16px;
}

.about-intro{
    margin: 16px auto;
    font-size: 12px;
    line-height: 2;
}

.about-content h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

.work{
    background: #fff4f4;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.work-icon{
    color: #269fff;
}

.about-content h3{
    margin: 12px auto;
    font-weight: 500;
    font-size: 16px;
}

.work-intro{
    font-size: 12px;
}

.stacks{
    background: #eef5fa;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.stack-icon{
    color: #ff6080;
}

.stack-info{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.icon1{
    color: #e34c26;
}

.icon2{
    color: #264de4;
}

.icon3{
    color: #f0db4f;
}

.icon4{
    color: #F1502F;
}

.icon5{
    color: #000000;
}

.stack-info p{
    font-size: 12px;
}

.resume-content h1{
    margin-top: 40px;
}

.head{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 16px auto;
}

.education-icon{
    color: #599df0;
    font-size: 20px;
}

.resume-content h3{
    font-weight: 500;
    font-size: 16px;
}

.education-info{
    background: #fff4f4;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.resume-content small{
    font-size: 12px;
}

.resume-content p{
    font-size: 14px;
}

.technical-info{
    background: #eef5fa;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.experience{
    margin-top: 40px;
}

.experience-info1,
.experience-info3,
.experience-info5{
    background: #fff4f4;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.experience-info2,
.experience-info4{
    background: #eef5fa;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.work-content h1{
    margin: 40px auto;
}

.works{
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.works img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 12px;
    transition: transform 0.5s ease;
}

.works img:hover {
    transform: scale(1.05);
}

.works small{
    font-size: 12px;
}

.works p{
    font-size: 14px;
    margin: 16px auto;
}

.works p span{
    color: #1b74e4;
}

.contact-content h1{
    margin: 40px auto;
}

.contact-info{
    background: #eef5fa;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.contact-info p{
    margin: 32px auto;
    font-size: 14px;
}

form input{
    display: block;
    width: 100%;
    padding: 10px 16px;
    margin-bottom: 32px;
    margin-top: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label{
    font-size:14px;
}

form textarea{
    display: block;
    width: 100%;
    padding: 10px 16px;
    margin-bottom: 32px;
    margin-top: 16px;
    outline: none;
    border: none;
    resize: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-info button{
    padding: 10px 32px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #1b74e4;
    background: transparent;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
}

.contact-info button:hover{
    background: #1b74e4;
    transition: .5s;
    color: #ffffff;
}

span.error{
    color: #e34c26;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.footer{
    margin-top: 32px;
    text-align: center;
}

.left-col{
    position: absolute;
    top: 0;
}

nav a{
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 16px;
}

nav a:hover{
    color: #1b74e4;
    transition: .5s;
}

nav{
    position: fixed;
    display: block;
    background: #ffffff;
    width: calc(100% - 32px); /* Subtract 16px from both left and right */
    height: 40vh;
    top: 150px;
    padding: 16px;
    z-index: 999;
    transform: translateY(-160%);
    transition: transform 0.5s ease-in-out;
    border-radius: 12px;

}

.open-nav{
    transform: translateX(0);
}

@media (min-width: 920px) {
    .menu{
        display: none;
    }

    header{
        padding-right: unset;
        padding-left: unset;
    }

    .container{
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .right-col{
        flex-basis: 25%;
        position: sticky;
        top: 100px;
        align-self: flex-start;
    }

    .main-col{
        flex-basis: 65%;
    }

    .left-col{
        flex-basis: 10%;
        position: sticky;
        top: 100px;
        align-self: flex-start;
        margin-top: 40px;
        background: #ffffff;
        padding: 40px 16px;
        border-radius: 16px;
    }

    nav{
        position: unset;
        display: unset;
        transform: translateX(0);
        width: auto;
        height: auto;
        padding: unset;
        background: unset;
        transition: unset;
        border-radius: unset;
    }

    nav a{
        display: unset;
        text-align: center;
        padding: unset;
    }

    nav a:hover{
        color: unset;
        transition: unset;
    }

    .nav-list{
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 16px;
        padding: 13px 10px;
        background: #ecedf2;
        border-radius: 12px;
        font-weight: normal;
    }

    .nav-list:hover{
        background: #1b74e4;
        transition: .5s;
        color: #ffffff;
    }

    .nav-list .icon{
        font-size: 20px;
    }

    .portfolio-box{
        display: grid;
        grid-template-columns: auto auto;
        gap: 16px;
    }

    /*
    .right-col h1{
        font-size: 25px;
    }

    .intro p{
        font-size: 14px;
    }

    .info-details small{
        font-size: 14px;
    }

    .info-details p{
        font-size: 13px;
    }

    */

    .about-intro,
    .work-intro{
        font-size: 14px;
    }

    .stack-info p{
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    main{
        max-width: 1200px;
        margin: 0 auto;
    }
}
